*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.cart-navbar{
  background-color: orangered;
}
h2{
  text-align: center;
  padding: 5px;
  color: white;
}
#cart-items{
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}
.cart-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  border-radius: 4px;
}
.cart-img{
 padding: 5px;
}
.cart-img img{
 width: 100%;
  height: 150px;
  object-fit: contain;
}
.cart-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  gap: 10px;
}





@media (max-width: 768px){

.cart-navbar{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  background: orangered;
  position: sticky;
  top: 0;
}
h2{
    margin: 0;
  color: white;
  font-size: 28px;
}
.cart-navbar button{
   background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding: 5px;

}
.qty-controls button{
  padding: 1px 6px;
}
.remove-btn{
  border: none;
  background-color: orangered;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}
}